body {
  margin: 0;
}

.container {
  width: 1291px;
  font-family: 'Oxygen';
}

.header {
  font-size: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
  align-items: center;
  background-color: #3c3c3b;
  color: white;
  padding: 0px 10px;
}

.listHeader {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  list-style: none;
  text-decoration: none;
}

.jumboTron {
  position: relative;
  height: calc(100vh - 49px);
  background-color: rgb(20, 20, 20);
  display: flex;
  align-items: center;
}

.carteVisite {
  position: relative;
  background-color: #ffffff;
  width: 400px;
  height: 225px;
  margin: 50px auto;
  border-radius: 3px;
}

.logo {
  position: absolute;
  background-image: url('/images/Logo.png');
  background-repeat: no-repeat;
  background-size: cover;
  width: 200px;
  height: 200px;
  
}