body {
  margin: 0;
  font-family: 'Mukta', sans-serif;
  color: #3c3c3b;
}

h1 {
  font-family: 'Mukta', sans-serif; 
  font-size: 58px;
  white-space: nowrap;
  letter-spacing: 2px;
  text-align: center;
}

h2 {
  margin: 0;
  font-size: 38px; 
}

a {
  text-decoration: none;
  color: inherit;
}


.preHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: #fff;
  list-style: none;
}

.list-inline {
  list-style: none;  
}

.list-inline >li {
  margin-left: 10px;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0px;
}

.logo {
  width: 130px;
  display: block; 
}

.jumboTron {
  background-image: url("images/Image0.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  text-align: center;
  height: 100vh;
  color: #fff;
  padding-top: 40px;

}

.preHeader {
  border-bottom: white 1px solid;
}

.preHeaderLeft {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-size: 20px;
  align-items: center;
  padding-left: 10px;
  margin: 0;
}

.preHeaderRight{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  font-size: 20px;
  align-items: center;
  padding-right: 10px;
}


.box1{
  max-width: 1400px;
}

.backgroundImage1 {
  background-image: url("images/Image0.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  text-align: center;
  height: 100vh;
  color: #fff;
  padding-top: 40px;
}

.bouton-white {
  display: inline-block;
  background-color: #fff;
  color: #3c3c3b; 
  padding: 5px 30px;
  text-transform: uppercase;
}

.bouton-Black {
  display: inline-block;
  background-color: #3c3c3b;
  color: #fff; 
  padding: 5px 30px;
  text-transform: uppercase;
}

.textIndie2 {
  font-family: 'Indie Flower', cursive;
  text-align: center;
  font-size: 30px;
  margin: 10px 0 0 0;
}

.backgroundImage2 {
  background-image: url("images/Image2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100vh;
  text-align: center;
}

.box3 {
  display: flex;
  flex-direction: row;
}

.box3Right {
  background-color: #f4f4f4;
  padding: 100px 60px;
  text-align: center;
  align-items: center;
}

.backgroundImage3 {
  text-align: center;
  padding: 20px;
}

.community h2 {
  text-align: center;
  font-size: 50px;
}

.instagram {
  display: flex;
}

.instagram-left {
  display: flex;
  flex-direction: row;
  background-image: url("images/Image10.jpg");
  height: 458px;
  width: 454px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
}

.instagram-right {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex: 1;
}

.instagram-image {
  height: 224px;
  width: calc(25% - 10px);
  background-repeat: no-repeat;
  margin: 0 0 10px 10px;
  background-position: center center;
  background-size: cover;
}

.community-bouton {
  text-align: center;
  margin-top: 30px;
  font-weight: bold;
}

.box7 {
  display: flex;
  flex-direction: row;
  height: 362px;
  width: auto;
}

.box7left {
  width: 500px;
  height: auto;
}

.box7Right {
  background-color: #f4f4f4;
  padding: 60px;
  text-align: center;
  align-items: center;
}

.box-newsletter {
  background-image: url("images/bg-news.png");
  padding: 30px;
  margin: 40px 0 0 10px;
  display: flex;
  flex-direction: column;
}

.box9 {
  background-image: url("images/Image21.jpg");
  color: #fff;
  height: 500px;
  background-size: cover;
  padding: 60px 0 0 100px;
}

.box10 {
  background-color: #3c3c3b;
  color: #fff;
  display: flex;
  text-align: center;
  justify-content: space-around;
  padding: 20px 0;
}

.box10 i {
  font-size: 50px;
  color: #fcddc0;
  margin-bottom: 7px;
}

.footer-item p {
  margin: -9px;

}

.paiement-réseaux {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 10px 50px;
}

.paiement-réseaux img {
  width: 35px;
}

.réseaux i {
  font-size: 30px;
  padding-right: 20px;
}

.i fa-facebook-square {
  color: red;
}

.recherches {
  text-align: center;
  background-color: #f4f4f4;
  padding: 10px;
}

footer {
  background-color: #3c3c3b;
  text-align: center;
  color: #fff;
  padding: 8px 0;
  font-size: 15px;
}

.inscription-newsletter {
  display: flex;
  flex-direction: row;
  background-color: #f4f4f4;
}

.inscription-newsletter-left {
  padding: 20px;
  flex-basis: 50%;
}

.img-newsletter {
  background-image: url(images/Image22.jpg);
  background-repeat: no-repeat;
  flex-basis: 50%;
  background-position: center;
  background-size: cover;
}
