:root {
  --pink: rgb(255, 219, 225);
  --blue: #9bc5d5;
}

body {
  font-family: 'Oxygen';
}

.container {
  display: flex; 
  flex-direction: row;
  max-width: 1200px;
  margin: 0 auto;
}

.columnLeft {
  padding: 30px; 
  background-color: var(--pink);
  width: 270px; 
}

.columnRight {
  padding: 30px; 
}

h1 {
  font-family: 'Dancing Script', cursive;
  font-size: 50px;  
  text-align: center;
}

h2 {
  font-size: 20px;
  text-align: center;
  color: #838383;
}

h4 {
  background-color: var(--blue);
}

.compétences {
  display: flex;
  flex-direction: row; 
  justify-content: space-around;
}

.bloc {
  font-weight: bold;
  font-size: 23px;
}









h1,
h2,
h3,
p {
  margin: 0;
}

h3 span {
  color: var(--blue);
}

h3 + p {
  margin-bottom: 10px;
}

.bloc {
  margin: 40px 0 10px 0;
}

h4 {
  padding: 8px;
  border-radius: 6px;
}

h4:nth-child(odd) {
  background-color: transparent;
}

.framework h4:nth-child(even) {
  background-color: transparent;
}

.framework h4:nth-child(odd) {
  background-color: var(--blue);
}

