:root {
  --black: rgb(20, 20, 20);
  --grey: #6c6c6c;
  --pink: #ffe6db;
  --blue: #9bc5d5;
  --menthol: #ccf1cf;;
  --gutter: 30px;
  --spacingSmall: 5px;
  --spacingMedium: 15px;
  --spacingLarge: 45px;
  --fontSizeLarge: 23px;
  --fontSizeH1: 50px;
  --fontSizeH3: 18px;
}

body {
  font-family: 'Oxygen', sans-serif;
  line-height: 1.4;
  color: var(--black);
  margin: 0;
}

h1,
h2,
h3 {
  margin: 0;
}

p {
  margin: 0 0 var(--spacingMedium) 0;
}

a {
  color: var(--blue);
  text-decoration: none;
}

a span {
  color: var(--black);
  margin-right: var(--spacingSmall);
}

a:hover {
  color: #115470;
}

.container {
  display: flex; 
  flex-direction: row;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 var(--gutter);
}

.background {
  flex: 1;
  padding: 0 var(--gutter);
  background-color: var(--pink);
  width: 270px;
}

.triangleUp {
  display: block;
  width: 100%;
  height: auto;
}

.photo {
  width: 100%;
  height: auto;
  margin-bottom: var(--spacingLarge);
}

.block {
  margin-bottom: var(--spacingLarge);
}

.legend {
  display: flex;
  flex-direction: row;
}

.legendItem {
  margin-right: var(--spacingMedium);
}

.colorblock > li{
  border-radius: 5px 5px;
  padding: 5px 10px;
  text-align: center;
}

span.aise,
span.maitrise,
span.notion {
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  vertical-align: baseline;
  margin-right: var(--spacingSmall);
}
.maitrise {
  background-color: var(--blue);
}

.aise {
  background-color: var(--menthol);
}

.notion {
  background-color: var(--pink);
}

.blockTitle {
  font-size: var(--fontSizeLarge);
  font-weight: bold;
  line-height: 1.2;
  margin-bottom: var(--spacingMedium);
  text-transform: uppercase;
}

.blockTitle span {
  color: var(--blue);
  font-size: 35px;
  padding-right: var(--spacingMedium);
  vertical-align: middle;
}

.competence {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: var(--spacingMedium);
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
  white-space: nowrap;
}

.list li {
  margin-bottom: var(--spacingMedium);
}

.listHobbies {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.columnLeft {
  display: flex;
  flex-direction: column;
}

.columnRight {
  padding-left: var(--gutter);
}

.header {
  background-image: url('images/Forme2.png');
  background-position: center bottom;
  background-size: 100% auto;
  background-repeat: no-repeat;
  padding-top: 40px;
  padding-bottom: 100px;
  margin-bottom: var(--spacingLarge);
  text-align: center;
}

h1 {
  font-family: 'Dancing Script', cursive;
  font-size: var(--fontSizeH1);
}

.line,
.logo {
  display: inline-block;
  vertical-align: middle;
}

.line {
  border-bottom: 3px solid #eb4257;
  width: 150px;
}

.logo {
  width: 70px;
  height: auto;
}

h2 {
  font-size: var(--fontSizeLarge);
  color: var(--grey);
}

.education h3 {
  color: var(--blue);
}

h3 span {
  color: black;
}

.education,
.experience {
  margin-bottom: var(--spacingMedium);
}

.education h3,
.experience h3 {
  font-size: var(--fontSizeH3);
}

.experience h3 span {
  color: var(--blue);
}

.education p,
.experience p {
  color: var(--grey);
  margin-bottom: 0;
}

@media print {
  :root {
    --spacingMedium: 6px;
    --spacingLarge: 18px;
    --fontSizeLarge: 18px;
    --fontSizeH1: 35px;
    --fontSizeH3: 14px;
    --gutter: 18px;
  }

  body {
    font-size: 12px;
    -webkit-print-color-adjust:exact;
  }

  .blockTitle span {
    font-size: 30px;
  }

  .background {
    width: 180px;
  }

  .header {
    padding-top: 10px;
    padding-bottom: 60px;
  }

  h1 {
    margin-bottom: var(--spacingSmall);
  }

  h2 {
    margin-top: var(--spacingSmall);
  }

  .logo {
    width: 40px;
    margin: 0 var(--spacingMedium);
  }

  .line {
    border-bottom-width: 1px;
  }
}
